<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="teleop_config" default="$(find tiago_clf_launch)/config/joypad_8bitdo.yaml" />
  <arg name="cmd_vel" default="/clf_joy_vel" />

  <group ns="clf_joy">
    
    <rosparam file="$(arg teleop_config)" command="load" />

    <node pkg="joy" type="joy_node" name="joystick">
      <param name="autorepeat_rate" value="100" />
    </node>

    <node pkg="joy_teleop" type="joy_teleop.py" name="joy_teleop">
      <remap from="cmd_vel" to="$(arg cmd_vel)" />
    </node>

  </group>


</launch>