<?xml version="1.0"?>
<launch>

    <arg name="config" default="$(find tiago_clf_launch)/config/ecwm/mappr_config.yaml"/>
    <arg name="world" default="mappr_world.yaml"/>
    <arg name="world_file" default="$(find tiago_clf_launch)/config/ecwm/$(arg world)"/>
    <arg name="plugins" default="$(find tiago_clf_launch)/config/ecwm/mappr_plugins.yaml"/>

	<node name="ecwm" pkg="ecwm_core" type="ecwm" output="screen" clear_params="true">
        <rosparam command="load" file="$(arg plugins)" />
        <rosparam command="load" file="$(arg config)" />
        <param name="world_file" value="$(arg world_file)" />
        <param name="models_path" value="$(find tiago_clf_launch)/config/ecwm/models:$(find ecwm_cupro)/models" /> 
    </node> 

</launch>
