<?xml version="1.0" encoding="UTF-8"?>
<launch>


<node pkg="tf2_ros" type="static_transform_publisher" name="camera_link" args="0.076 0.176 0.021 -0.707 0.006 -0.006 0.707 head_2_link camera_link" />


<include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
   <arg name="rgb" value="color" />
</include>

</launch>