<launch>

  <arg name="camera_name" default="xtion" />
  <arg name="remapped_tf" default="/tf" />

  <arg name="node_name" default="$(arg camera_name)" />

  <node pkg="opportunistic_link" type="request_link_startpoint.py" name="$(arg node_name)_startpoint" output="screen" >
    <param name="input_topic_name" type="string" value="$(arg camera_name)/depth_registered/image_raw" />
    <param name="topic_type" type="string" value="sensor_msgs/Image" />
    <param name="request_service" type="string" value="/teste" />
  </node>

  <node pkg="opportunistic_link" type="request_link_endpoint.py" name="$(arg node_name)_endpoint" output="screen" >
    <param name="output_topic_name" type="string" value="$(arg camera_name)/depth_registered/image_raw/relay" />
    <param name="topic_type" type="string" value="sensor_msgs/Image" />
    <param name="request_service" type="string" value="/teste" />
    <param name="rate_ctrl" type="string" value="/teste/rate" />
    <param name="default_rate" type="string" value="20" />
    <param name="latched" type="string" value="true" />
    <param name="override_timestamps" type="string" value="false" />
  </node>

</launch>