<launch>

    <!-- Run move_base -->
    <node pkg="move_base" type="move_base" respawn="true" name="move_base" output="screen">
        <remap from="cmd_vel" to="nav_vel"/>
        <remap from="odom"    to="mobile_base_controller/odom"/>

        <rosparam file="$(find tiago_clf_nav)/config/move_base.yaml" command="load" />

        <rosparam file="$(find tiago_clf_nav)/config/costmap.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find tiago_clf_nav)/config/global_costmap.yaml" command="load" />

        <rosparam file="$(find tiago_clf_nav)/config/costmap.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find tiago_clf_nav)/config/local_costmap.yaml" command="load" />
       
        <rosparam file="$(find tiago_clf_nav)/config/local_planner.yaml" command="load" />
        <rosparam file="$(find tiago_clf_nav)/config/global_planner.yaml" command="load" />
        
    </node>

</launch>