<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <arg name="topic" default="/xtion/depth/points" />
  <arg name="take_nav_pose" default="true"/>
  
  <rosparam file="$(find tiago_clf_nav)/config/tiago_nav_motions.yaml" command="load" />
  
  <group if="$(arg take_nav_pose)">
       <node name="take_nav_pose" pkg="tiago_clf_nav" type="nav_pose.py" output="screen"/>
  </group>
</launch>
